<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <title>Shopping list</title>
  </head>
  <body>
    <div id="container">
      <div id="main">
        <h1>DESPENSA</h1>
        <div>
          <form id="input" action="/" method="POST">
            <div class="textinput">
              <input
                required
                type="text"
                name="que"
                id="que"
                placeholder="¿qué hace falta?"
              />
              <input
                required
                type="text"
                name="cuanto"
                id="cuanto"
                placeholder="¿cuánto?"
              />
            </div>
            <button type="submit" class="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-pizza"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                stroke-width="2"
                stroke="#385815"
                fill="none"
                background="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 21.5c-3.04 0 -5.952 -.714 -8.5 -1.983l8.5 -16.517l8.5 16.517a19.09 19.09 0 0 1 -8.5 1.983z"
                />
                <path
                  d="M5.2 15.772a14.939 14.939 0 0 0 6.995 1.728a14.944 14.944 0 0 0 6.638 -1.545"
                />
                <line x1="13" y1="11.01" x2="13" y2="11" />
                <line x1="11" y1="14" x2="11" y2="13.99" />
              </svg>
            </button>
          </form>
        </div>
        <% cosas.forEach(cosas => { %>
        <div class="cosascontainer">
          <p class="cosas"><%= cosas.que %></p>
          <p class="cantidad"><%= cosas.cuanto %></p>
          <form action="/remove/<%= cosas.id %>" class="removeform">
            <button type="submit" class="remove">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-trash"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#ff2825"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="4" y1="7" x2="20" y2="7" />
                <line x1="10" y1="11" x2="10" y2="17" />
                <line x1="14" y1="11" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
          </form>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
